<clickhouse>
    <logger>
        <level>trace</level>
        <log>/Users/siddharthupadhyay/clickhouse-data/logs/clickhouse-server.log</log>
        <errorlog>/Users/siddharthupadhyay/clickhouse-data/logs/clickhouse-server.err.log</errorlog>
    </logger>

    <access_control_path>/Users/siddharthupadhyay/clickhouse-data/access</access_control_path>

    <path>/Users/siddharthupadhyay/clickhouse-data/data</path>
    <tmp_path>/Users/siddharthupadhyay/clickhouse-data/tmp</tmp_path>
    <user_files_path>/Users/siddharthupadhyay/clickhouse-data/user_files</user_files_path>
    <format_schema_path>/Users/siddharthupadhyay/clickhouse-data/format_schemas</format_schema_path>
    <user_defined_path>/Users/siddharthupadhyay/clickhouse-data/user_defined</user_defined_path>

    <listen_host>127.0.0.1</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <interserver_http_port>9009</interserver_http_port>

    <mark_cache_size>5368709120</mark_cache_size>
    <users_config>/Users/siddharthupadhyay/clickhouse-data/config/users.xml</users_config>
    <default_profile>default</default_profile>
    <default_database>default</default_database>
    <custom_settings_prefixes>custom_</custom_settings_prefixes>
    <timezone>UTC</timezone>
    <mlock_executable>false</mlock_executable>
</clickhouse>